<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moon Reader Pro+ Highlights Parser</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <script src="./assets/jquery-3.5.1.min.js"></script>
    <script src="./assets/vue-2.6.12.js"></script>
    <link rel="stylesheet" href="./assets/bulma.min.css">
    <style>
        .label {
            margin-top: 0.5em;
        }

        .warning {
            color: red
        }
    </style>
</head>

<body>
    <section id="vm-app-moonreader" class="section" v-cloak @drop.prevent="addFile" @dragover.prevent>
        <div class="container">
            <h1 class="title">Moon Reader Pro+ Highlights Parser</h1>
            <div class="columns">
                <div class="column">

                    <p class="label">Input .txt</p>
                    <p v-show="file_txt">{{file_txt}}</p>
                    <textarea class="textarea" placeholder="Paste or drag Moon Reader .txt export here" v-model="txt"></textarea>

                    <p class="label">Input .mrexpt</p>
                    <p v-show="file_mrexpt">{{file_mrexpt}}</p>
                    <textarea class="textarea" placeholder="Paste or drag Moon Reader .mrexpt export here" v-model="mrexpt"></textarea>

                    <!-- <button class="button" @click="parse()">Parse →</button> -->

                    <div>
                        <span>
                            <input type="checkbox" id="chapters_checkbox" v-model="include_chapters">
                            <label for="chapters_checkbox">Include chapters</label>
                        </span>
                        <span>
                            <input type="checkbox" id="bullets_checkbox" v-model="include_bullets">
                            <label for="bullets_checkbox">Include bullet points</label>
                        </span>
                    </div>

                    <div class="warning" v-show="warning">{{warning}}</div>

                </div>

                <div class="column">

                    <p class="label">Output</p>
                    <textarea class="textarea" v-model="output" readonly rows="8"></textarea>

                    <button class="button" @click="copy(output)">Copy</button>
                    <!-- <button class="button" @click="downloadReadwiseCSV()">Download Readwise.csv</button> -->

                </div>
            </div>
        </div>
    </section>

    <script>
        // add option with or without chapters. because i really don't need them, just search book for highlight if I need exact location
        var vm = new Vue({
            el: "#vm-app-moonreader",

            data: {
                file_txt: '',
                file_mrexpt: '',
                txt: '',
                mrexpt: '',
                // output: '',
                warning: '',
                include_chapters: false,
                include_bullets: false
            },

            computed: {
                bullet() {
                    return this.include_bullets ? '- ' : ''
                },
                output() {
                    if (!this.txt || !this.mrexpt) return ''

                    let txt = this.txt.split('\n\n')
                    let mrexpt = this.mrexpt.split('\n\n')
                    mrexpt.shift() // removes first element

                    let title = txt.shift() // removes first element from txt and puts it in title
                        .split(' (') // separates title and author from counts

                    const counts = title.pop() // separates counts from title (which also has author)
                        .replace(/\)$/, '') // removes final ending parenthesis
                        .split(';')
                    count_highlights = Number(counts[0].replace('Highlight: ', ''))
                    count_notes = Number(counts[1].replace('Note: ', ''))
                    // console.log({ title, count_highlights, count_notes })

                    txt.shift() // removes the second element with line of "───────────────"

                    let output = txt.map(x => {
                        if (x.match(/^▪/)) {// highlight

                            return x.replace(/^▪ /g, this.bullet)

                        } else if (x.match(/^◆/)) {// chapter

                            if (this.include_chapters)
                                return x.replace(/^◆/, '###')

                            else
                                return null

                        } else if (x == '───────────────') {// second element

                            return null

                        } else {
                            this.warning += `WARNING! Type not detected for ${x}`
                            return x
                        }
                    })
                        .filter(x => x !== null)
                        .join('\n\n')



                    mrexpt.map(x => {
                        // y = x.split('\n')
                        // mynote = y[0]

                        const mynote = x.split('\n')[0]
                        // and what if mynote has line break?


                        // highlight = y[1].replace(/<BR>/g, " ") // this won't work, becuase not the same in mrexpt and txt. Example: highlight spans paragraphs. In txt, all one line. In mrexpt, all one line with `<BR>` at linebreaks
                        // just searching for mynote could conflict if there's a highlight in parenthesis that exactly matches my note... So check mrexpt highlights that don't match, with error if does? But could have <BR>
                        // just replace <BR> with space, and add red warning div with potential issues with any <.*?> besides <BR> detected, also if output.match is undefined


                        if (mynote != "") {
                            // console.log(mynote, highlight)

                            txtnote = ` (${mynote})`
                            // regexpnote = new RegExp(escape(txtnote), "g")
                            regexpnote = escape(txtnote)

                            const matches = output.split('\n\n').filter(x => x.match(regexpnote))

                            if (matches.length !== 1) {
                                this.warning += `WARNING! ${matches.length} matches found for: ${txtnote}\n`
                            }

                            new_output = output.replace(txtnote, `\n\n    ${this.bullet}#MW ${mynote}`) // check that ? works or needs regexpnote

                            if (new_output == output) {
                                this.warning += `WARNING! Output had replacement but didn't change: ${output}`
                            }

                            output = new_output
                        }
                    })

                    // 
                    function escape(str) {
                        return str.replace(/([.?*+^$|[\]\\(){}-])/g, "\\$1")
                    }

                    // check highlights
                    const count_MW = output.split('\n\n').filter(x => x.match('#MW')).length
                    if (count_notes != count_MW)
                        this.warning += `WARNING! Count mismatch: There are ${count_notes} notes and ${count_MW} "#MW"s`

                    return output
                }
            },

            mounted() { },

            methods: {
                addFile(e) { // from https://www.raymondcamden.com/2019/08/08/drag-and-drop-file-upload-in-vuejs
                    let files = [...e.dataTransfer.files]

                    if (!files) return

                    let _this = this

                    files.forEach((file, i) => {
                        reader = new FileReader()
                        reader.onload = loadData
                        reader.readAsText(file)

                        function loadData(event) {
                            const data = event.target.result
                            console.log(file.name)
                            console.log(data)

                            if (file.name.match(/\.mrexpt$/)) {
                                _this.file_mrexpt = file.name
                                _this.mrexpt = data
                            }

                            if (file.name.match(/\.txt$/)) {
                                _this.file_txt = file.name
                                _this.txt = data
                            }
                        }
                    })


                },

                parse() {
                    if (!this.txt || !this.mrexpt) return ''

                    let txt = this.txt.split('\n\n')
                    let mrexpt = this.mrexpt.split('\n\n')
                    mrexpt.shift() // removes first element

                    let title = txt.shift() // removes first element from txt and puts it in title
                    txt.shift() // removes the second element with line of "───────────────"
                    const t = title.split(' (Highlight: ')

                    let output = txt.map(x => {
                        if (x.match(/^▪/)) {// highlight

                            return x.replace(/^▪ /g, this.bullet)

                        } else if (x.match(/^◆/)) {// chapter

                            if (this.include_chapters)
                                return x.replace(/^◆/, '###')

                            else
                                return null

                        } else if (x == '───────────────') {// second element

                            return null

                        } else {
                            this.warning += `WARNING! Type not detected for ${x}`
                            return x
                        }
                    })
                        .filter(x => x !== null)
                        .join('\n\n')



                    mrexpt.map(x => {
                        // y = x.split('\n')
                        // mynote = y[0]

                        const mynote = x.split('\n')[0]
                        // and what if mynote has line break?


                        // highlight = y[1].replace(/<BR>/g, " ") // this won't work, becuase not the same in mrexpt and txt. Example: highlight spans paragraphs. In txt, all one line. In mrexpt, all one line with `<BR>` at linebreaks
                        // just searching for mynote could conflict if there's a highlight in parenthesis that exactly matches my note... So check mrexpt highlights that don't match, with error if does? But could have <BR>
                        // just replace <BR> with space, and add red warning div with potential issues with any <.*?> besides <BR> detected, also if output.match is undefined


                        if (mynote != "") {
                            // console.log(mynote, highlight)

                            txtnote = ` (${mynote})`
                            // regexpnote = new RegExp(escape(txtnote), "g")
                            regexpnote = escape(txtnote)

                            const matches = output.match(regexpnote)

                            if (matches.length !== 1) {
                                this.warning += `WARNING! ${matches.length} matches found for: ${txtnote}\n`
                            }

                            new_output = output.replace(txtnote, `\n\n    ${this.bullet}#MW ${mynote}`) // check that ? works or needs regexpnote

                            if (new_output == output) {
                                this.warning += `WARNING! Output had replacement but didn't change: ${output}`
                            }

                            output = new_output
                        }
                    })

                    function escape(str) {
                        return str.replace(/([.?*+^$|[\]\\(){}-])/g, "\\$1")
                    }

                    this.output = output



                    // let raw = this.raw.split('\n\n')



                    // before '───────────────'
                    // /\(Highlight: (\d+?); Note: (\d+?)\)$/
                    // {
                    // book_title: ,
                    // book_author: ,
                    // number_of_highlights: $1,
                    // number_of_notes: $2
                    // }
                    // after '───────────────'



                    // this.output_str = raw.map(x => {

                    //     if (x.match(/^◆/)) // chapter
                    //         return x.replace(/^◆/, '###')

                    //     else if (x.match(/^▪/)) { // highlight

                    //         if (x.match(/\)$/)) { // ends with ) so is my note // what about a highlight ending in ) ?
                    //             c = x.split('(')
                    //             i = c.slice(-1)[0].match(/\)/g).length // count how many ending parenthesis, so doesn't cut off nested
                    //             d = c.slice(-i, c.length).join('(').replace(/\)$/, '')
                    //             e = c.slice(0, -i).join('(').trim()
                    //             x = e + '\n\n    - #MW ' + d
                    //         }

                    //         return x.replace(/^▪/, '-')
                    //     } else {
                    //         return x
                    //     }

                    // })
                    //     .join('\n\n')
                },


                copy(text_to_copy) {
                    function listener(e) {
                        e.clipboardData.setData("text/plain", text_to_copy)
                        e.preventDefault()
                    }

                    document.addEventListener("copy", listener)

                    try {
                        document.execCommand("copy")
                        console.log("Copied:", text_to_copy)
                    } catch (e) {
                        console.log("Copy failed.", e)
                    } finally {
                        document.removeEventListener("copy", listener)
                    }
                },

                downloadReadwiseCSV() {
                    let a = $('<a>', {
                        'href': 'data:text/csv;charset=utf-8,' + encodeURIComponent(this.output_html),
                        'download': this.html_name,
                        'style': 'display:none;'
                    }).appendTo('body')
                    a[0].click()
                    a.remove()
                },

                copyForNotion() {

                },

                copyForRoam() {
                    this.output_html

                    copy(data)
                },
            },
        })
    </script>

</body>

</html>