<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Time Adder</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/luxon@3.1.1/build/global/luxon.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>

<body>
    <section id="vm-app" class="section" v-cloak>

        <h1 class="title">Time Adder</h1>

        <div class="control">
            <label class="radio">
                <input type="radio" name="answer" v-model="time_type" value="time_lengths">
                Time lengths (0:00)
            </label>
            <label class="radio">
                <input type="radio" name="answer" v-model="time_type" value="time_ranges">
                Time ranges (0:00-0:00)
            </label>
        </div>

        <textarea class="textarea" v-model="times"></textarea>
        <button class="button" @click="add()">Add</button>

        <br><br>
        Total: {{total_time}}


    </section>


    <script>


        var vm = new Vue({
            el: "#vm-app",
            data: {
                times: '',
                time_type: 'time_lengths',
                total_time: ''
            },

            computed: {
                url() {
                    return 'javascript:' + encodeURIComponent(this.createIIFE(this.code))
                },
            },

            methods: {
                add() {
                    const times = this.times.trim().split('\n')
                        .map(t => t.trim())
                        .filter(t => !!t)

                    const time_type = this.time_type

                    function timeToLxnDur(time) { // where duration is of the format 0:00 or 00:00 or 0:00:00
                        const time_split = time.split(':')

                        // TODO add error checking for matching /^/d/d$/

                        let days = 0
                        let hours = 0

                        if (time_split.length == 2) {
                            minutes = Number(time_split[0])
                            seconds = Number(time_split[1])

                        } else if (time_split.length == 3) {
                            hours = Number(time_split[0])
                            minutes = Number(time_split[1])
                            seconds = Number(time_split[2])

                        } else if (time_split.length == 4) {
                            days = Number(time_split[0])
                            hours = Number(time_split[1])
                            minutes = Number(time_split[2])
                            seconds = Number(time_split[3])
                        } else {
                            console.log('Incorrectly formatted')
                            alert('Incorrectly formatted')
                            return {}
                        }

                        try {
                            return luxon.Duration.fromObject({ days, hours, minutes, seconds })
                        } catch (err) {
                            console.log(err)
                            alert(`err\n(Maybe select the other radio button?\nOr else incorrectly formatted...)`)
                        }

                    }

                    function subtract_time_range(time_range) {
                        const time_range_split = time_range.split('-')

                        const start = time_range_split[0]
                        const end = time_range_split[1]

                        const start_lxnDur = timeToLxnDur(start)
                        const end_lxnDur = timeToLxnDur(end)

                        return end_lxnDur.minus(start_lxnDur)
                    }

                    function add_time_lengths(time_array) {
                        let lxnDur_arr

                        if (time_type == 'time_lengths') {
                            lxnDur_arr = time_array.map(time => timeToLxnDur(time))

                        } else if (time_type == 'time_ranges') {
                            lxnDur_arr = time_array.map(subtract_time_range)

                        } else {
                            alert(`Unsupported time_type: ${this.time_type}`)
                            return
                        }

                        var total = lxnDur_arr.reduce((acc, lxnDur) => acc.plus(lxnDur), luxon.Duration.fromObject({}))

                        return total.toFormat('h:mm:ss')
                    }

                    // try catch and display if err
                    this.total_time = add_time_lengths(times)
                },





                copy(text_to_copy) {
                    function listener(e) {
                        e.clipboardData.setData("text/plain", text_to_copy)
                        e.preventDefault()
                    }

                    document.addEventListener("copy", listener)

                    try {
                        document.execCommand("copy")
                        console.log("Copied:", text_to_copy)
                    } catch (e) {
                        console.log("Copy failed.", e)
                    } finally {
                        document.removeEventListener("copy", listener)
                    }
                }
            },
        })






    </script>
</body>

</html>