<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Erik's {{roam/js}} Scripts</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <script src="/assets/jquery-3.5.1.min.js"></script>
    <script src="/assets/vue-2.6.12.js"></script>
    <link rel="stylesheet" href="/assets/bulma.min.css">
    <style>
        .label {
            margin-top: 0.5em;
        }
    </style>
</head>

<body>
    <section id="vm-app-roam-clipboard" class="section">
        <div class="container">
            <h1 class="title">Roam Clipboard</h1>
            <p>Paste Roam blocks in the textarea below</p>
            <div class="columns">
                <div class="column">
                    <input class="input" v-model="name" placeholder="Name" @focus="$event.target.select()">
                    <textarea id="clipboard-input" class="textarea" v-model="clipboard_input" placeholder="Paste here" readonly @paste="onPaste"></textarea>
                    <!-- <textarea id="clipboard-input" class="textarea" v-model="clipboard_input" placeholder="Paste here" @focus="clipboard_input=''" ></textarea> -->
                </div>

                <div class="column">
                    <p class="label">Output</p>
                    <textarea class="textarea" v-model="output_str" readonly rows="11"></textarea>
                    <button class="button" @click="copy(output_str)">Copy</button>
                    <button class="button" @click="copyRoamData()">Copy back as roam/data</button>

                </div>
            </div>
            <div>
                <p class="label">HTML</p>
                <textarea class="textarea" v-model="output_html" readonly rows="11"></textarea>
                <button class="button" @click="copy(output_html)">Copy</button>
                <button class="button" @click="downloadHtml()">Download</button>
            </div>

        </div>
    </section>

    <script>
        // TODO: if no roamdata, convert script as plain text into roam data
        var vm = new Vue({
            el: "#vm-app-roam-clipboard",

            data: {
                name: 'Roam blocks',
                text_plain: '',
                text_html: '',
                roam_data: '',
                clipboard_input: '',
            },

            computed: {
                html_name() {
                    return this.name.toLowerCase()
                        .split(' ').join('-') // .replace(/ /g, '-')
                        .replace(/\(|\)|\//g, '') + '.html' // ( ) /
                },
                output_json() {
                    return {
                        name: this.name,
                        html_name: this.html_name,
                        text_plain: this.text_plain,
                        text_html: this.text_html,
                        roam_data: this.roam_data
                    }
                },
                output_str() {
                    return JSON.stringify(this.output_json, null, 2)
                },
                // output_html() {
                //     return this.outputToHtml(this.output_json)
                // }
                output_html() {
                    return this.outputToHtml(this.output_json)
                }
            },

            mounted() {},

            methods: {
                onPaste(e) {

                    // console.log(e)
                    this.text_plain = e.clipboardData.getData("text/plain")
                    this.text_html = e.clipboardData.getData("text/html")
                    this.roam_data = e.clipboardData.getData("roam/data")

                    if (this.roam_data == "") {
                        alert("No roam/data in that paste")
                    }

                    return true // must return true for paste event to work //https://stackoverflow.com/questions/44536362/how-to-handle-pastectrlv-or-with-mouse-event-in-vue-js
                },

                copy(text_to_copy) {
                    function listener(e) {
                        e.clipboardData.setData("text/plain", text_to_copy)
                        e.preventDefault()
                    }

                    document.addEventListener("copy", listener)

                    try {
                        document.execCommand("copy")
                        console.log("Copied:", text_to_copy)
                    } catch (e) {
                        console.log("Copy failed.", e)
                    } finally {
                        document.removeEventListener("copy", listener)
                    }
                },

                copyRoamData() {
                    let data = JSON.parse(JSON.stringify(this.output_json))

                    function listener(e) {
                        e.clipboardData.setData("text/plain", data.text_plain)
                        e.clipboardData.setData("text/html", data.text_html)
                        e.clipboardData.setData("roam/data", data.roam_data)
                        e.preventDefault()
                    }

                    document.addEventListener("copy", listener)

                    try {
                        document.execCommand("copy")
                        console.log("Copied:", data)
                    } catch (e) {
                        console.log("Copy failed.", e)
                    } finally {
                        document.removeEventListener("copy", listener)
                    }
                },

                outputToHtml(data) {
                    data = JSON.parse(JSON.stringify(data))

                    let code = `let l = function(e) {
e.clipboardData.setData("text/plain", ${JSON.stringify(data.text_plain)})
e.clipboardData.setData("text/html", ${JSON.stringify(data.text_html)})
e.clipboardData.setData("roam/data", ${JSON.stringify(data.roam_data)})
e.preventDefault()
}
document.addEventListener("copy", l)
document.execCommand("copy")
document.removeEventListener("copy", l)`

                    let bookmarklet = 'javascript:' + encodeURIComponent(`;(()=>{${code}})();`)

                    let html = /*html*/ `<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>${data.name}</title>
    <style>
        body {overflow: hidden;}
        form {margin-block-end: 0;}
        button {height: 2.5em; cursor: pointer;}
    </style>
</head>
<body>
    <form action="${bookmarklet}">
        <button title="${data.name}">Copy code</button>
    </form>
</body>
</html>`

                    return html
                },

                downloadHtml() {
                    let a = $('<a>', {
                        'href': 'data:text/html;charset=utf-8,' + encodeURIComponent(this.output_html),
                        'download': this.html_name,
                        'style': 'display:none;'
                    }).appendTo('body')
                    a[0].click()
                    a.remove()
                },
            },
        })
    </script>

</body>

</html>